@charset "utf-8";

body {
  min-width: 80rem;
  cursor: none;
}

/* 마우스 커서 */
.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 20000;
  opacity: 0;
  /* transition: 0.1s; */
  mix-blend-mode: difference;
}

.cursor-size {
  width: 100px;
  height: 100px;
  transition: 0.1s;
}

/* 마우스 커서 따라오는 요소 */
.cursor-tail {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
  opacity: 0;
  transition: 0.1s;
  mix-blend-mode: difference;
}

.container .content {
  padding: 5rem 0 0 0;
}

.container .inner {
  width: 75rem;
  margin: 0 auto;
}

.container .title {
  font-size: 5.625rem;
  margin: 0 0 2rem 0;
}

/* 콘텐츠 여백 */
.sec-skill .wrap-skill,
.sec-memoir .wrap-memoir {
  padding: 2rem 2rem 0;
}

.sec-skill .list-skill li:last-child,
.sec-memoir .list-memoir li:last-child {
  margin: 0;
}

/* 콘텐츠 한글 폰트 */
.sec-work .list-skill .desc,
.sec-memoir .list-memoir .desc {
  font-family: "Pretendard-Regular";
}
