@charset "utf-8";

body {
  font-family: "amboy-black";
  background-color: #222;
  color: #fff;
}

.home-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 100001;
  overflow: hidden;
  animation: home-screen 1s linear forwards;
  animation-delay: 0.7s;
}

@keyframes home-screen {
  0% {
    /* left: 0; */
    opacity: 1;
  }

  100% {
    /* left: -100%; */
    opacity: 0;
  }
}

.home-screen .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  color: #000;
}

.header .inner {
  padding: 2rem 2rem 0;
}

.header .logo {
  font-size: 2rem;
}

/* 비주얼 */
.sec-visual .visual-title {
  font-size: 5.625rem;
}

.sec-visual .visual-title .publisher {
  font-size: 5.625rem;
  animation: visual-title 1s linear forwards;
  animation-delay: 1s;
  transform: translate(100px, 0);
  opacity: 0;
}

@keyframes visual-title {
  0% {
    transform: translate(100px, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.sec-visual .visual-title .front-end {
  font-size: 5.625rem;
  animation: front-end 1s linear forwards;
  animation-delay: 1s;
  transform: translate(-100px, 0);
  opacity: 0;
}

@keyframes front-end {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.sec-visual .visual-img {
  margin: 4rem 0 0 0;
  animation: visual-img 1s linear forwards;
  animation-delay: 1s;
  transform: translate(0, 100px);
  opacity: 0;
}

@keyframes visual-img {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.sec-visual .visual-img img {
  width: 100%;
  border-radius: 6.25rem;
}

/* 히스토리 */
.history {
  overflow: hidden;
}

.history .list-history {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.history .list-history li {
  font-size: 5.625rem;
  margin: 0 4rem 0 0;
}

/* 포트폴리오 */
.sec-work .wrap-work {
  display: flex;
}

.sec-work .work-img {
  overflow: auto;
  position: sticky;
  width: 50%;
  height: 100vh;
  top: 0;
}

/* .sec-work .work-img img {
  width: 100%;
  height: 100vh;
} */

.sec-work .work-img .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.25rem;
}

.sec-work .list-work {
  width: 50%;
}

.sec-work .list-work a {
  position: relative;
  padding: 4rem 0;
  margin: 0 4rem;
  transition: padding 0.5s ease;
}

.sec-work .list-work a:hover {
  background-color: #fff;
  color: #000;
  padding: 4rem 0 4rem 4rem;
}

.sec-work .list-work a::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0.0625rem;
  background-color: #fff;
}

.sec-work .list-work .title {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.sec-work .list-work .desc {
  font-size: 1.25rem;
}

/* 스킬 */
.sec-skill .list-skill li {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 0 2rem 0;
  transition: all 0.5s ease;
}

.sec-skill .list-skill li:hover {
  background-color: #000;
}

.sec-skill .list-skill li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: .0625rem solid #fff;
  border-radius: 1rem;
}

.sec-skill .list-skill p {
  font-size: 2rem;
  padding: 2rem;
  color: #000;
}

.sec-skill .list-skill li:hover p {
  color: #fff;
}

/* 회고록 */
.sec-memoir .list-memoir li {
  border-radius: 1rem;
  background-color: #fff;
  margin: 0 0 2rem 0;
}

.sec-memoir .list-memoir a {
  padding: 2rem;
}

.sec-memoir .list-memoir h4 {
  font-size: 2rem;
  color: #000;
}

/* 세로 스크롤 sticky */
.sec-vertical {
  position: relative;
}

.sec-vertical .vertical-item {
  position: sticky;
  top: 0;
  /* height: 100vh; */
  background-color: #fff;
  color: #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.sec-vertical .common-inner {
  margin: 0 auto;
  padding: 2rem;
}

.sec-vertical .layout {
  display: flex;
}

.sec-vertical .vertical-item .title {
  font-size: 64px;
}

.sec-vertical .vertical-item .desc {
  font-size: 14px;
  margin: 0 0 24px 0;
}

.sec-vertical .vertical-item img {
  width: 100%;
  display: block;
}

.sec-change-mouse-cursor .list-change-mouse-cursor {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.sec-change-mouse-cursor .list-change-mouse-cursor .item-change-mouse-cursor {
  width: calc((100% / 3) - 40px);
  padding: 0.625rem;
  margin: 0.625rem;
}

.sec-change-mouse-cursor .list-change-mouse-cursor .title {
  font-size: 2rem;
}

.sec-change-mouse-cursor img {
  width: 100%;
}

/* 푸터 */
.footer {
  padding: 2rem;
}

@media (max-width: 1280px) {
}

@media (max-width: 720px) {
}

@media (max-width: 320px) {
}
