@charset "utf-8";

body {
  font-family: "amboy-black";
  background-color: #222;
  color: #fff;
}

.header .inner {
  padding: 32px 32px 0;
}

.header .logo {
  font-size: 32px;
}

/* 비주얼 */
.sec-visual .visual-title {
  font-size: 90px;
}

.sec-visual .visual-img {
  margin: 64px 0 0 0;
}

.sec-visual .visual-img img {
  width: 100%;
  border-radius: 100px;
}

/* 히스토리 */
.history {
  overflow: hidden;
}

.history .list-history {
  display: flex;
  padding: 32px;
}

.history .list-history li {
  font-size: 90px;
  margin: 0 64px 0 0;
}

/* 포트폴리오 */
.sec-work .wrap-work {
  display: flex;
}

.sec-work .work-img {
  overflow: auto;
  position: sticky;
  width: 50%;
  height: 100vh;
  top: 0;
}

/* .sec-work .work-img img {
  width: 100%;
  height: 100vh;
} */

.sec-work .work-img .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

.sec-work .list-work {
  width: 50%;
}

.sec-work .list-work a {
  position: relative;
  padding: 64px 0;
  margin: 0 64px;
  transition: padding 0.5s ease;
}

.sec-work .list-work a:hover {
  background-color: #fff;
  color: #000;
  padding: 64px 0 64px 64px;
}

.sec-work .list-work a::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #fff;
}

.sec-work .list-work .title {
  font-size: 20px;
  margin: 0 0 16px 0;
}

.sec-work .list-work .desc {
  font-size: 20px;
}

/* 스킬 */
.sec-skill .list-skill li {
  background-color: #fff;
  border-radius: 16px;
  margin: 0 0 32px 0;
}

.sec-skill .list-skill p {
  font-size: 32px;
  padding: 32px;
  color: #000;
}

/* 회고록 */
.sec-memoir .list-memoir li {
  border-radius: 16px;
  background-color: #fff;
  margin: 0 0 32px 0;
}

.sec-memoir .list-memoir a {
  padding: 32px;
}

.sec-memoir .list-memoir h4 {
  font-size: 32px;
  color: #000;
}

/* 푸터 */
.footer {
  padding: 32px;
}
